/* 1439px-769px */
@media (max-width: 1025px) {
    /* Header */
    header{
        padding-inline: 32px;
    }
    /* Section One */
    .SectionOne{
        height: 560px;
    }
   /* Second Section */
    .SectionTwo{
        width: calc(960 / 1024 * 100%);
        margin-block: 80px;
    }
    /* Footer */
    footer{
        padding:40px 32px;
    }
}